graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
{% if cookiecutter.github_actions == 'yes' -%}
include .github/workflows/github-actions.yml
{% endif -%}
{% if cookiecutter.pre_commit == "yes" -%}
include .pre-commit-config.yaml
{% endif -%}
{% if cookiecutter.sphinx_docs == 'yes' and 'readthedocs' in cookiecutter.sphinx_docs_hosting -%}
include .readthedocs.yml
{% endif -%}
include pyproject.toml
include pytest.ini

include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib
